{% extends 'base.html' %}

{% block content %}

<h1>{{month}}</h1>
<br>
<h4> Pickup Location ID: {{pickup}} </h4>
<h4> Dropoff Location ID: {{dropoff}} </h4>
<br>
<p> Due to lack of records, an estimate is generated. </p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Cheapest Hour</th>
            <th>Avg Price</th>
        </tr>
    </thead>
    <tbody>
    {% for d in det %}
    <tr>
        <td> {{d[0]}}</td>
        <td> {{d[1]}}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}